@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  scrollbar-width: 0.8vw;
  scrollbar-color: #7149c6a1 #2e2e2e;
}

::-webkit-scrollbar {
  width: 0.5vw;
}

::-webkit-scrollbar-thumb {
  background-color: #7149c6a1;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #2e2e2e;
}

.carousel::-webkit-scrollbar {
  display: none;
}

.carousel{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@layer components{

  .blob {
    width: 25.25rem;
    height: 25.25rem;
    border-radius: 25.25rem;
    opacity: 0.9;
    background: var(--Dark-BG-Secondary, #7149c6);
    filter: blur(275px);
    position: absolute;
    right: 0;
    z-index: -10;
    transform: translateX(20%);
    transform: translateY(40%);
  }
}
/*TODO: change blob css to tailwindcss */
